[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bluepy = {version = ">=1.3.0", sys_platform = "== 'linux'"}

[dev-packages]
pytest  = "*"

[requires]
python_version = "3.7"
